#imageView {
    border: 1px solid black;

}
#colorp {
    position: relative;
    width: 36px;
    height: 36px;
    background: url(../images/select.png);
}
#colorp div {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 30px;
    height: 30px;
    background: url(../images/select.png) center;
}
canvas {
    cursor:crosshair;
    width:800px;
    margin-left:auto;
    margin-right:auto;
}
}
canvas,canvas:active,canvas:focus {
    cursor:crosshair;
}

.colorpicker {
    z-index: 9999;
}
#colorp select  {
    margin-left:100px;
    display:inline-block;
    margin-bottom:20px;
}

#boards li a {
    text-decoration:underline;
    color:blue;

}

#boards li a:focus{
    cursor:hand;
}

input[type="text"] {
 position: absolute;
}
#text_formatter {
}
#draghandle {
    position: absolute;

    z-index: 9999;
    background-color:red;
}
#main {
    background-color:white;
    width: 800px ;
    margin-left:auto;
    margin-right:auto;
    border-radius:4px;
    margin-top:50px;
}
body {
    background-color:#2f4f4f;
    background-image:url("http://i.imgur.com/U9qBQ.jpg");
}