#imageView {
    border: 1px solid black;

}
#colorp {
    position: relative;
    width: 36px;
    height: 36px;
    background: url(../images/select.png);
    float:left;
}
#colorp div {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 30px;
    height: 30px;
    background: url(../images/select.png) center;
}

canvas {
    cursor:crosshair;
    width:800px;
    height:600px;
    margin-left:auto;
    margin-right:auto;
}

canvas,canvas:active,canvas:focus {
    cursor:crosshair;
}

.colorpicker {
    z-index: 9999;
}
#colorp select  {
    margin-left:100px;
    display:inline-block;
    margin-bottom:20px;
}

#boards li a {
    text-decoration:underline;
    color:blue;

}

#boards li a:focus{
    cursor:hand;
}

input[type="text"] {
 position: absolute;
}
#main {
    background-color:white;
    width: 800px ;
    margin-left:auto;
    margin-right:auto;
    border-radius:4px;
    margin-top:20px;
    padding:8px;
    border:3px solid #20b2aa;
}
body {
    background-color:#2f4f4f;
    background-image:url("http://i.imgur.com/U9qBQ.jpg");
}

img {
    width: 110px;
    height: 110px;
    float: left;
}

p {
float: left;
    clear: left;
}

img.tip2 {
    margin-left:5px;
    margin-top:5px;
}
a.tip2 {
    position: relative;
    text-decoration: none;
}
a.tip2 span {display: none;}
a.tip2:hover span {
    display: block;
    position: absolute;
    padding: .5em;
    content: attr(title);
    min-width: 120px;
    text-align: center;
    width: auto;
    height: auto;
    white-space: nowrap;
    top: -32px;
    background: rgba(0,0,0,.8);
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    color: #fff;
    font-size: .86em;
}
a.tip2:hover span:after {
    position: absolute;
    display: block;
    content: "";
    border-color: rgba(0,0,0,.8) transparent transparent transparent;
    border-style: solid;
    border-width: 10px;
    height:0;
    width:0;
    position:absolute;
    bottom: -16px;
    left:1em;
}

#download {
}

#overlay {
    border: 1px solid black;
    background: white;
    width: 400px;
    left: 50%;
    top: 75px;
    margin-left: -200px;
    height: 300px;
    position: absolute;
}
#eqoverlay {
    border: 1px solid black;
    background: white;
    width: 400px;
    left: 50%;
    top: 75px;
    margin-left: -200px;
    height: 75px;
    position: absolute;
}
textarea {
    resize:none;
    height:240px;
    width:350px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
.colorpicker input {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    vertical-align: baseline;
    width:23px;
    line-height:12px;

}
.shapebtn {
    font-size:12px;
}

li {
    display:inline;
}
button {
font-size:10px !important;
font-weight:bold;
}
fieldset {
border:1px solid #ccc;
padding:1px;
margin:0;
height:40px;
width:auto;
float:right;
display:inline-block;
border-radius:3px;
}
#text_formatter {
    float:left;
    width:250px;
    margin-left:7px;
}
fieldset legend {
font-size:10px;
padding-left:0px;
}
fieldset#shapefield{
float:left;
}
fieldset#templatefield {
float:left;
}
#toolbox {
margin-bottom:100px;
}
#export {
float:right;
}

select {
    width:170px;
    font-size:10px;
}
input[type="text"] {
    height:auto;
    width:auto;
}

#editbutton {
    float:left;
    margin-left:100px;
    margin-top:15px;
}
#symbols {
    visibility:hidden;
}

img {
    width:30px;
    height:30px;
}

button {
    font-weight:bold;
}

